#main {
    height: 400px;
    width: 800px;
    border: 10px groove yellowgreen;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 3px black inset;
  }
  .images {

    height: 100px;
    width: 150px;
    border: 10px groove yellowgreen;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 3px black inset;
    margin-bottom: 20px;
  }